<div width="100%">
    <div [style.padding]="'0px'" [style.height]="tabHeight + 'px'" [style.background-color]="colors[4]">
    <input class="consoleText" (keyup)="userType($event)" [style.height]="(tabHeight - 2) + 'px'" [style.background-color]="colors[4]"  [style.color]="colors[6]" [(ngModel)]="consoleText" *ngIf="pageWidth >= 768" />
    <!--use this for desktop-->
      <svg [attr.viewbox]="'0 0 ' + pageWidth + ' ' + tabHeight" overflow="visible" *ngIf="pageWidth >= 768" position="absolute" style="z-index: -1">
        <ng-container *ngFor="let id of barIds">
             <!-- might need to scale this differently based on whether user is on mobile -->
          <polygon id="tab{{id}}" [attr.points]="getPolygon()" [style.fill]="colors[id]" [attr.transform]="'translate(' + ((pageWidth - id * tabSize) - tabSize ) + ',0)'"></polygon>
          <rect [attr.y]="tabHeight" [attr.width]="tabSize" height="0" [style.fill]="colors[id]" [attr.transform]="'skewX(' + getSkew() + '), translate(' + ((pageWidth - id * tabSize) - (tabSize * ((1/tabRatio) - 1)*tabRatio)) + ',0)'">
            <animate
                attributeName="height"
                begin="indefinite"
                to="30"
                [attr.dur]="'.5s'"
                keySplines="
                    0.1 0.8 0.2 1;"
                keyTimes="
                    0;1"
                calcMode="spline"
                [attr.id]="'expand'+id"
                [attr.class]="'expand'+id"
                fill="freeze"
                restart="whenNotActive"
            />
            <animate
                attributeName="height"
                begin="indefinite"
                [attr.to]="pageHeight"
                [attr.dur]="tabExpandSpeed / 1000 + 's'"
                keySplines="
                    0.1 0.8 0.2 1;"
                keyTimes="
                    0;1"
                calcMode="spline"
                [attr.id]="'fullExpand'+id"
                [attr.class]="'fullExpand'+id"
                fill="freeze"
                restart="whenNotActive"
            />
            <animate
                attributeName="height"
                begin="indefinite"
                to="0"
                [attr.dur]="tabContractSpeed / 1000 + 's'"
                keySplines="
                    0.1 0.8 0.2 1;"
                keyTimes="
                    0;1"
                calcMode="spline"
                [attr.id]="'contract'+id"
                [attr.class]="'contract'+id"
                fill="freeze"
                restart="whenNotActive"
            />
            <animate
                attributeName="height"
                begin="indefinite"
                to="0"
                [attr.dur]="tabContractSpeed / 1000 + 's'"
                keySplines="
                    0.1 0.8 0.2 1;"
                keyTimes="
                    0;1"
                calcMode="spline"
                [attr.id]="'fullContract'+id"
                [attr.class]="'fullContract'+id"
                fill="freeze"
                restart="whenNotActive"
            />
          </rect>
          <text class="tabText" [style.fill]="colors[6]" [style.fontSize]="fontSize" [attr.x]="(pageWidth - id * tabSize - (tabSize * ((1/tabRatio) - 1)*tabRatio)) + (tabSize * tabRatio)" [attr.y]="tabHeight/2 + 12" pointer-events="none">{{this.tabNames[id]}}</text>
        </ng-container>
        <rect #ribbon id="ribbon" [attr.y]="-pageHeight" [attr.x]="pageWidth*ribbonPercentage" height="0" [attr.width]="tabSize" transform="scale(1,-1)" [attr.fill]="colors[chosenId]">
          <animate
            attributeName="height"
            begin="indefinite"
            [attr.to]="(pageHeight - tabHeight)"
            [attr.dur]="ribbonExpandSpeed / 1000 + 's'"
            keySplines="
                0.1 0.8 0.2 1;"
            keyTimes="
                0;1"
            calcMode="spline"
            class="ribbonexpand"
            fill="freeze"
        />
        <animate
          attributeName="height"
          begin="indefinite"
          to="0"
          [attr.dur]="ribbonContractSpeed / 1000 + 's'"
          keySplines="
              0.1 0.8 0.2 1;"
          keyTimes="
              0;1"
          calcMode="spline"
          class="ribboncontract"
          fill="freeze"
      />
        </rect>
    </svg>
      <!--use this for mobile-->
      <svg [attr.viewbox]="'0 0 ' + pageWidth + ' ' + tabHeight" overflow="visible" *ngIf="pageWidth < 768">
        <ng-container *ngFor="let id of barIds">
             <!-- might need to scale this differently based on whether user is on mobile -->
          <polygon id="tab{{id}}" [attr.points]="getPolygon()" [style.fill]="colors[id]" [attr.transform]="'translate(' + ((pageWidth - id * tabSize) - tabSize ) + ',0)'">
            <animate
                attributeName="points"
                begin="indefinite"
                [attr.dur]="tabExpandSpeed / 1000 + 's'"
                [attr.values]="getPolygon() + '; 0,' + tabHeight + ' 0,0 ' + pageWidth + ',0 ' + pageWidth + ',' + tabHeight + ';'"
                keySplines="
                    0.1 0.8 0.2 1;"
                keyTimes="
                    0;1"
                calcMode="spline"
                [attr.class]="'fullExpand'+id"
                fill="freeze"
            />
            <animateTransform
                attributeName="transform"
                attributeType="XML"
                type="translate"
                begin="indefinite"
                [attr.dur]="tabExpandSpeed / 1000 + 's'"
                [attr.values]="((pageWidth - id * tabSize) - tabSize ) + ',0; 0,0;'"
                keySplines="
                    0.1 0.8 0.2 1;"
                keyTimes="
                    0;1"
                calcMode="spline"
                [attr.class]="'fullExpand'+id"
                fill="freeze"
            />
            <animate
                attributeName="points"
                begin="indefinite"
                [attr.dur]="tabExpandSpeed / 1000 + 's'"
                [attr.values]="'0,' + tabHeight + ' 0,0 ' + pageWidth + ',0 ' + pageWidth + ',' + tabHeight + '; ' + getPolygon() + ';'"
                keySplines="
                    0.1 0.8 0.2 1;"
                keyTimes="
                    0;1"
                calcMode="spline"
                [attr.class]="'contract'+id"
                fill="freeze"
            />
            <animateTransform
                attributeName="transform"
                attributeType="XML"
                type="translate"
                begin="indefinite"
                [attr.dur]="tabExpandSpeed / 1000 + 's'"
                [attr.values]="'0,0; ' + ((pageWidth - id * tabSize) - tabSize ) + ',0;'"
                keySplines="
                    0.1 0.8 0.2 1;"
                keyTimes="
                    0;1"
                calcMode="spline"
                [attr.class]="'contract'+id"
                fill="freeze"
            />
          </polygon>
          <text class="tabText" [style.fill]="colors[6]" [style.fontSize]="fontSize" [attr.x]="(pageWidth - id * tabSize - (tabSize * ((1/tabRatio) - 1)*tabRatio))" y="60" pointer-events="none">{{this.tabNames[id]}}</text>
        </ng-container>
        <rect #ribbon id="ribbon" [attr.y]="pageHeight*.8" [attr.x]="pageWidth" [attr.height]="pageHeight*.1" [attr.width]="tabSize" [attr.fill]="colors[chosenId]">
          <animate
            attributeName="x"
            begin="indefinite"
            [attr.dur]="ribbonExpandSpeed / 1000 + 's'"
            [attr.values]="pageWidth + '; ' + pageWidth * .8 + ';'"
            keySplines="
                0.1 0.8 0.2 1;"
            keyTimes="
                0;1"
            calcMode="spline"
            class="ribbonexpand"
            fill="freeze"
        />
        <animate
          attributeName="x"
          begin="indefinite"
          [attr.dur]="ribbonContractSpeed / 1000 + 's'"
          [attr.values]="pageWidth * .8 + '; ' + pageWidth + ';'"
          keySplines="
              0.1 0.8 0.2 1;"
          keyTimes="
              0;1"
          calcMode="spline"
          class="ribboncontract"
          fill="freeze"
      />
        </rect>
      </svg>
    </div>
    <div class="bottom" [style.height]="'calc(100vh - ' + tabHeight + 'px)'" [style.background-color]="colors[5]">
        <ng-container [ngSwitch]="chosenId" style="color: #ddd">
            <ng-container *ngSwitchCase="-1">
                <div style="color: #ddd">
                    welcome to my website! it is currently under construction. click on the tabs up top to see my various projects :)
                </div>
            </ng-container>
            <ng-container *ngSwitchCase="0">
                <div class="ribbonInfo" style="color: #ddd; padding: 10px; z-index: 1; width: 10vw">
                    <a href="https://bsky.app/profile/jusentari.com" rel=me>bluesky</a><br>
                    <a href="https://github.com/jusentari" rel=me>github</a><br>
          <a href="mailto:jusentari@gmail.com">email</a><br>
                </div>
            </ng-container>
            <ng-container *ngSwitchCase="1">
                <div class="ribbonInfo" style="color: #ddd">
                    music
                </div>
            </ng-container>
            <ng-container *ngSwitchCase="2">
                <div class="ribbonInfo" style="color: #ddd">
                    games
                </div>
            </ng-container>
            <ng-container *ngSwitchCase="3">
        <!-- must share width of ribbon-->
                <div class="ribbonInfo" style="color: #ddd; padding: 10px; width: 10vw">
                    <h2>stuff</h2><br>
                    <a routerLink="/one-pixel">one pixel</a><br>
                    <a href="https://github.com/jusentari/AlpacOS">alpacos</a><br>
                    <a href="https://github.com/jusentari/nds-badge">nds badge</a><br>
                    <a href="">touchscreen badge</a><br>
                    <a href="https://github.com/jusentari/jusentari-website">this website</a><br>
                </div>
            </ng-container>
        </ng-container>
        <ng-container *ngIf="consoleText == '> cd /home/jusentari/secret'">
            secret...<br>
            tab ratio <br>
            <input type="range" min="-2" max="2" value=".2" step=".01" class="slider" id="tabRatio" [(ngModel)]="tabRatio"><br>
            tab height <br>
            <input type="range" min="3" max="200" value="100" step="1" class="slider" id="tabHeight" [(ngModel)]="tabHeight"><br>
            tab percentage <br>
            <input type="range" min="5" max="25" value="14" step="1" class="slider" id="tabPercentageSize" [(ngModel)]="tabPercentageSize"><br>
        </ng-container>
    </div>

  </div>
