/* You can add global styles to this file, and also import other style files */
* {
  font-family: 'Terminal';
}


@font-face {
  font-family: 'Terminal';
  src: url('/assets/posshydrafont.ttf') format('truetype');
}
.colorBar {
  background-color: #002b36;
  color: #eee8d5;
  overflow: hidden;
  white-space: pre-wrap;
  height: 100px;
}

.topBar {
  width: 100%;
}

.bottom {
  min-height: calc(100vh - 100px);
  padding: 30px;
}

  

@media only screen and (max-width: 768px){
  #ribbon {
    cursor: pointer;
  }
}

@media only screen and (min-width: 768px){
  .consoleText {
    font-size: 28px;
  }
}

@media only screen and (min-width: 1050px){
  .consoleText {
    font-size: 40px;
  }
}
@media only screen and (min-width: 1250px){
  .consoleText {
    font-size: 50px;
  }
}

.tabText {
  font-size: 30px;
}

polygon {
  cursor: pointer;
}