<h2>stuff</h2><br>
<a routerLink="/one-pixel">one pixel</a><br>
<h2>socials</h2><br>
<a href="https://bsky.app/profile/jusentari.com" rel=me>bluesky</a><br>
<a href="https://github.com/jusentari" rel=me>github</a><br>

jusentari@gmail.com

<div>
    <div [style.height]="'100px'" [style.background-color]="colors[2]">
      <svg viewbox="0 0 400 100" overflow="visible">
        <ng-container *ngFor="let id of barIds">
            <!-- remove transforms from this polygon, set this to a fixed "rhombus" size-->
             <!-- might need to scale this differently based on whether user is on mobile -->
          <polygon id="tab{{id}}" points="0,100 50,0 200,0 150,100" [style.fill]="colors[id]" [attr.transform]="'translate(' + ((pageWidth - id * 150) - 150 ) + ',0)'"></polygon>
          <rect y="100" width="150" height="0" [style.fill]="colors[id]" [attr.transform]="'skewX(-26.565), translate(' + ((pageWidth - id * 150) - 100 ) + ',0)'">
            <animate
                attributeName="height"
                begin="indefinite"
                [attr.dur]="id + 's'"
                by="30"
                values="0; 30;"
                keySplines="
                    0.1 0.8 0.2 1;"
                keyTimes="
                    0;1"
                calcMode="spline"
                [attr.id]="'expand'+id"
                fill="freeze"
            />
            <animate
                attributeName="height"
                begin="indefinite"
                by="30"
                [attr.dur]="tabExpandSpeed / 1000 + 's'"
                values="0; 1000;"
                keySplines="
                    0.1 0.8 0.2 1;"
                keyTimes="
                    0;1"
                calcMode="spline"
                [attr.id]="'fullExpand'+id"
                fill="freeze"
            />
            <animate
                attributeName="height"
                begin="indefinite"
                [attr.dur]="tabContractSpeed / 1000 + 's'"
                values="30; 0;"
                keySplines="
                    0.1 0.8 0.2 1;"
                keyTimes="
                    0;1"
                calcMode="spline"
                [attr.id]="'contract'+id"
                fill="freeze"
            />
          </rect>
          <text class="tabText" [style.fill]="colors[6]" [attr.x]="(pageWidth - id * 150 - 50)" y="60">{{this.tabNames[id]}}</text>
        </ng-container>
        <rect y="-1000" x="100" height="0" width="150" transform="scale(1,-1)" [attr.fill]="colors[chosenId]">
          <animate
            attributeName="height"
            begin="indefinite"
            [attr.dur]="ribbonExpandSpeed / 1000 + 's'"
            values="0; 1000;"
            keySplines="
                0.1 0.8 0.2 1;"
            keyTimes="
                0;1"
            calcMode="spline"
            id="ribbonexpand"
            fill="freeze"
        />
        <animate
          attributeName="height"
          begin="indefinite"
          [attr.dur]="ribbonContractSpeed / 1000 + 's'"
          values="1000; 0"
          keySplines="
              0.1 0.8 0.2 1;"
          keyTimes="
              0;1"
          calcMode="spline"
          id="ribboncontract"
          fill="freeze"
      />
        </rect>
        <text x="50" y="62.5" class="consoleText" [style.fill]="colors[6]">{{this.consoleText}}</text>
      </svg>
    </div>
    <div [style.height]="'85vh'" [style.background-color]="colors[5]">
      <div [style.padding]="'40px'" [style.color]="colors[6]">text! test /</div>
      <ng-container *ngFor="let id of barIds">
        <button (click)="startAnim(id)">press for anim {{id}}</button>
      </ng-container>
    </div>
  </div>