/* You can add global styles to this file, and also import other style files */
* {
    font-family: 'Terminal';
  }
  
  
  @font-face {
    font-family: 'Terminal';
    src: url('/assets/posshydrafont.ttf') format('truetype');
  }